# Loads default set of integrations. Do not remove.
default_config:

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes

#lovelace:
#  mode: yaml
#  resources:
#    - url: /local/mini-graph-card-bundle.js?v=0.11.0
#    - url: /config/www/community/mini-graph-card/mini-graph-card-bundle.js
#      type: module

#    - url: /hacsfiles/better-thermostat-ui-card/better-thermostat-ui-card.js
#      type: module
# resources:
#  - url: /local/apexcharts-card.js?v=2.0.2
#    type: module

# Text to speech
tts:
  - platform: google_translate

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml
#OLD#sensor: !include sensors.yaml
template: !include templates.yaml

###############################
######MANAUL###################
###duckdns
#http:
#  ssl_certificate: /ssl/fullchain.pem
#  ssl_key: /ssl/privkey.pem

recorder:
  purge_keep_days: 20
  commit_interval: 30

####alert: !include alerts.yaml

notify:
  - name: admin_mobile
    platform: group
    services:
      - service: mobile_app_21091116ag

##### Water control
## leaks
## HW heater

##### Temp control automations
automation mine: !include temp_control_automation.yaml
## automation script: !include temp_control_scripts.yaml
## add helpers

###### irrigations part
## add automation
## add helpers


## BACK TO WORK
homeassistant:
  packages:
    irrigation_pack: !include irrigation_pack_new.yaml
#    irrigation_pack: !include irrigation_pack.yaml



pyscript:
  allow_all_imports: true
  hass_is_global: true

############rooms_temp#########################

  

climate:
  - platform: smart_thermostat
    name: Smart Thermostat
    unique_id: smart_thermostat_m_UF
    heater: input_number.uf_room_living222
    outdoor_sensor: weather.forecast_home
    target_sensor: sensor.uf_room_living
    min_temp: -2.5
    max_temp: 2.5
    ac_mode: False
    target_temp: 21
    keep_alive:
      seconds: 60
    away_temp: 0
    target_temp_step: 0.1
    kp: 5
    ki: 0.01
    kd: 500
    output_min: 0
    output_max: 99
